# Node modules
node_modules

# Keycloak users
keycloak-users.json

# Logs
*.log

# Environment variables
.env

logs/
output/

# Test coverage
coverage/
.nyc_output/

# IDE
.vscode/
.idea/

# Build output
dist/
build/

# OS
.DS_Store
Thumbs.db
